@inherits LayoutComponentBase

<div class="login-base">
    <div class="left-side">
        <span class="lable">MedHelp</span>
    </div>
    <div class="right-side">
        @Body
    </div>
</div>

@code {

}
